In [1]:
#Import librairies 
import pandas as pd
import numpy as np
import re
import cleaning_functions

C:\Users\ploitploit\AppData\Local\Temp\ipykernel_13356\1827147503.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#Load the dataset
df = pd.read_csv('../data/raw/2014_2015.csv', encoding='ISO-8859-1')
df.head()

,Vendor,Category,Item,Item Description,Price,Origin,Destination,Rating,Remarks
0,CheapPayTV,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,Torland,NaN,4.96/5,NaN
1,CheapPayTV,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,Torland,NaN,4.96/5,NaN
2,KryptykOG,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,Torland,NaN,4.93/5,NaN
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,NaN,NaN,4.89/5,NaN
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,Torland,NaN,4.88/5,NaN

In [3]:
#Cleaning the dataset using the cleaning_functions.py created beforehand
#Using in order :

# 1/ Droping columns that have no interest for the project 
# 2/ Clean column names - converting to snake format + manual transformation
# 3/ Converting some columns values to snake format 
# 4.1/ Converting rating note to a float number 
# 4.2/ Converting rating note to a 3 level scale (positive/neutral/negative)
# 5/ Manual cleaning of the values in the 'price' column, in order to get only the numerical values
# 6/ Converts all values in the 'category' column to lowercase
# 7/ Splits the 'category' column at each '/' and adds new columns to structure it in main_category and sub_categories
# 8.1/ Manual cleaning for the values in the 'origin' column 
# 8.2/ Manual cleaning for the values in the 'destination' column
# 9/ Manual cleaning of some satelite values
# 10/ Save cleaned dataframe as a clean_dataset.csv

In [4]:
#1

columns_to_drop = [' Remarks']
df = cleaning_functions.drop_columns(df, columns_to_drop)
df.head()

,Vendor,Category,Item,Item Description,Price,Origin,Destination,Rating
0,CheapPayTV,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,Torland,NaN,4.96/5
1,CheapPayTV,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,Torland,NaN,4.96/5
2,KryptykOG,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,Torland,NaN,4.93/5
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,NaN,NaN,4.89/5
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,Torland,NaN,4.88/5

In [5]:
#2

df = cleaning_functions.clean_column_names(df)
df.head()

,vendor,_category,_item,_item_description,_price,_origin,_destination,_rating
0,CheapPayTV,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,Torland,NaN,4.96/5
1,CheapPayTV,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,Torland,NaN,4.96/5
2,KryptykOG,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,Torland,NaN,4.93/5
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,NaN,NaN,4.89/5
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,Torland,NaN,4.88/5

In [6]:
df.columns

Index(['vendor', '_category', '_item', '_item_description', '_price',
       '_origin', '_destination', '_rating'],
      dtype='object')

In [7]:
df = df.rename(columns={
    '_category' : 'category',
    '_item': 'item',
    '_item_description': 'item_description',
    '_price': 'price',
    '_origin': 'origin',
    '_destination': 'destination',
    '_rating': 'rating'
})
df.columns

Index(['vendor', 'category', 'item', 'item_description', 'price', 'origin',
       'destination', 'rating'],
      dtype='object')

In [8]:
#3

df = cleaning_functions.value_snake_case(df, ['vendor','origin', 'destination']) 
df.head()

,vendor,category,item,item_description,price,origin,destination,rating
0,cheappaytv,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,torland,nan,4.96/5
1,cheappaytv,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,torland,nan,4.96/5
2,kryptykog,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,torland,nan,4.93/5
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,nan,nan,4.89/5
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,torland,nan,4.88/5

In [9]:
#4.1

from cleaning_functions import extract_number

df['numeric_rating'] = df['rating'].apply(extract_number)
df.head()

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating
0,cheappaytv,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,torland,nan,4.96/5,4.96
1,cheappaytv,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,torland,nan,4.96/5,4.96
2,kryptykog,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,torland,nan,4.93/5,4.93
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,nan,nan,4.89/5,4.89
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,torland,nan,4.88/5,4.88

In [10]:
#4.2

from cleaning_functions import categorize_rating

df['rating_category'] = df['numeric_rating'].apply(categorize_rating)
df.head()

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category
0,cheappaytv,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.05027025666666667 BTC,torland,nan,4.96/5,4.96,positive
1,cheappaytv,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152419585 BTC,torland,nan,4.96/5,4.96,positive
2,kryptykog,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000000000000005 BTC,torland,nan,4.93/5,4.93,positive
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019016783532494728 BTC,nan,nan,4.89/5,4.89,positive
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018073963963936 BTC,torland,nan,4.88/5,4.88,positive

In [11]:
#5
df['price'] = df['price'].str.extract(r'(\d+\.\d+)').astype(float)
df

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category
0,cheappaytv,Services/Hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.050270,torland,nan,4.96/5,4.96,positive
1,cheappaytv,Services/Hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152420,torland,nan,4.96/5,4.96,positive
2,kryptykog,Services/Hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000,torland,nan,4.93/5,4.93,positive
3,cyberzen,Services/Hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019017,nan,nan,4.89/5,4.89,positive
4,businessdude,Services/Hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018,torland,nan,4.88/5,4.88,positive
...,...,...,...,...,...,...,...,...,...,...
109684,gonz324,Drugs/Opioids/Opium,1 gr purified Opium,This Listing is for a gramm of redefined Opium...,0.143637,germany,nan,4.91/5,4.91,positive
109685,cheqdropz,Weapons/Fireworks,Shipping Ticket,in order for me to ship one of the guns you bo...,0.086806,usa,nan,[0 deals],NaN,Invalid rating
109686,snowqueen,Drugs/Opioids/Opium,0.50 GRAMS #4 White Afghani Heroin - FULL ESCROW,0.50 grams #4 White Afghani Heroin SnowQueen...,0.336412,canada,worldwide,[0 deals],NaN,Invalid rating
109687,snowqueen,Drugs/Opioids/Opium,1.0 GRAMS #4 White Afghani Heroin - FULL ESCROW,1.0 grams #4 White Afghani Heroin SnowQueen ...,0.611658,canada,worldwide,[0 deals],NaN,Invalid rating
109688,daydreamer,Drugs/Opioids/Opium,HEROIN STAMP BAG (10pcs) BUNDLE,HEROIN STAMP BAG (10pcs) BUNDLE BEST AVAIL...,0.254911,usa,nan,4.87/5,4.87,positive

In [12]:
#6

df = cleaning_functions.lowercase_categories(df)
df

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category
0,cheappaytv,services/hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.050270,torland,nan,4.96/5,4.96,positive
1,cheappaytv,services/hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152420,torland,nan,4.96/5,4.96,positive
2,kryptykog,services/hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000,torland,nan,4.93/5,4.93,positive
3,cyberzen,services/hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019017,nan,nan,4.89/5,4.89,positive
4,businessdude,services/hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018,torland,nan,4.88/5,4.88,positive
...,...,...,...,...,...,...,...,...,...,...
109684,gonz324,drugs/opioids/opium,1 gr purified Opium,This Listing is for a gramm of redefined Opium...,0.143637,germany,nan,4.91/5,4.91,positive
109685,cheqdropz,weapons/fireworks,Shipping Ticket,in order for me to ship one of the guns you bo...,0.086806,usa,nan,[0 deals],NaN,Invalid rating
109686,snowqueen,drugs/opioids/opium,0.50 GRAMS #4 White Afghani Heroin - FULL ESCROW,0.50 grams #4 White Afghani Heroin SnowQueen...,0.336412,canada,worldwide,[0 deals],NaN,Invalid rating
109687,snowqueen,drugs/opioids/opium,1.0 GRAMS #4 White Afghani Heroin - FULL ESCROW,1.0 grams #4 White Afghani Heroin SnowQueen ...,0.611658,canada,worldwide,[0 deals],NaN,Invalid rating
109688,daydreamer,drugs/opioids/opium,HEROIN STAMP BAG (10pcs) BUNDLE,HEROIN STAMP BAG (10pcs) BUNDLE BEST AVAIL...,0.254911,usa,nan,4.87/5,4.87,positive

In [13]:
#7

df = cleaning_functions.split_category(df)
df.rename(columns={0: 'main_category', 1: 'sub_category'}, inplace=True)
df.head()

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category,main_category,sub_category,2,3
0,cheappaytv,services/hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.050270,torland,nan,4.96/5,4.96,positive,services,hacking,None,None
1,cheappaytv,services/hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152420,torland,nan,4.96/5,4.96,positive,services,hacking,None,None
2,kryptykog,services/hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000,torland,nan,4.93/5,4.93,positive,services,hacking,None,None
3,cyberzen,services/hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019017,nan,nan,4.89/5,4.89,positive,services,hacking,None,None
4,businessdude,services/hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018,torland,nan,4.88/5,4.88,positive,services,hacking,None,None

In [14]:
df['category'].unique()

array(['services/hacking', 'services/other', 'drugs/rcs',
       'forgeries/physical documents', 'tobacco/smoked', 'services/money',
       'counterfeits/money', 'data/software', 'data/accounts',
       'counterfeits/clothing', 'information/ebooks', 'electronics',
       'drug paraphernalia/pipes', 'drugs/weight loss', 'data/pirated',
       'drugs/steroids', 'drugs/prescription', 'information/guides',
       'forgeries/scans/photos', 'other', 'jewelry', 'drugs/other',
       'counterfeits/accessories', 'counterfeits/watches',
       'drugs/cannabis/weed', 'drugs/benzos',
       'the body bags  shotty  and mac make-up to: kind hearts and gentle people',
       'drugs/cannabis/shake/trim', 'drugs/cannabis/synthetics',
       'drugs/cannabis/concentrates', 'drugs/cannabis/seeds',
       'drugs/cannabis/hash', 'drugs/dissociatives/mxe',
       'drugs/dissociatives/ketamine', 'drugs/cannabis/edibles',
       'drugs/ecstasy/pills', 'drugs/ecstasy/other',
       'drugs/stimulants/meth', 'drugs/psychedelics/lsd',
       'drugs/stimulants/speed', 'drugs/dissociatives/ghb',
       'drugs/stimulants/cocaine', 'drugs/psychedelics/nb',
       'drugs/psychedelics/mushrooms', 'drugs/ecstasy/mdma',
       'drugs/psychedelics/dmt', 'weapons/lethal firearms',
       'drugs/stimulants/prescription', 'drugs/ecstasy/mda',
       'drugs/psychedelics/others', 'drugs/psychedelics/mescaline',
       'drugs/psychedelics/2c', 'drugs/opioids', 'info/ebooks/anonymity',
       'info/ebooks/relationships/sex', 'drug paraphernalia/stashes',
       'info/ebooks/economy', 'services/advertising',
       'info/ebooks/politics', 'drugs/opioids/morphine',
       'drugs/opioids/other', 'drugs/opioids/heroin',
       'info/ebooks/science', 'weapons/melee', 'info/ebooks/other',
       'info/ebooks/drugs', 'drugs/opioids/fentanyl',
       'drugs/opioids/oxycodone', 'drugs/psychedelics/5-meo',
       'drugs/opioids/buprenorphine', 'drug paraphernalia/containers',
       'drugs/psychedelics/other', 'info/ebooks/doomsday',
       'info/ebooks/it', 'info/ebooks/psychology',
       'info/ebooks/making money', 'weapons/non-lethal firearms',
       'tobacco/paraphernalia', 'forgeries/other', 'weapons/ammunition',
       'home of the body bags  shotty  and mag  kind hearts and gentle people',
       'forgeries', 'chemicals', 'drugs/psychedelics/spores',
       'drugs/opioids/hydrocodone', 'info/ebooks/philosophy',
       'drugs/dissociatives/other', '0.12780125125 btc',
       'drugs/opioids/codeine', 'drug paraphernalia/grinders',
       'info/ebooks/aliens/ufos', 'drug paraphernalia/paper',
       'services/travel', '0.1905617980645162 btc',
       'drugs/opioids/dihydrocodeine', 'drugs/stimulants/mephedrone',
       'the body bags  shotty  and mag to: kind hearts and gentle people',
       'drugs/dissociatives/gbl', 'counterfeits/electronics',
       'drug paraphernalia/injecting equipment/syringes',
       'drugs/opioids/opium',
       'drug paraphernalia/injecting equipment/other',
       'drugs/psychedelics/salvia', 'drugs/barbiturates',
       'weapons/fireworks', 'drug paraphernalia/scales',
       'drug paraphernalia/injecting equipment/filters',
       'drug paraphernalia/injecting equipment/needles',
       'drugs/dissociatives/pcp'], dtype=object)

In [15]:
df['main_category'].unique()

array(['services', 'drugs', 'forgeries', 'tobacco', 'counterfeits',
       'data', 'information', 'electronics', 'drug paraphernalia',
       'other', 'jewelry',
       'the body bags  shotty  and mac make-up to: kind hearts and gentle people',
       'weapons', 'info',
       'home of the body bags  shotty  and mag  kind hearts and gentle people',
       'chemicals', '0.12780125125 btc', '0.1905617980645162 btc',
       'the body bags  shotty  and mag to: kind hearts and gentle people'],
      dtype=object)

In [16]:
#drop irelevant categories
unwanted_categories = ['the body bags  shotty  and mag to: kind hearts and gentle people', 
                      '0.12780125125 btc',  '0.1905617980645162 btc', 
                       'home of the body bags  shotty  and mag  kind hearts and gentle people' ]
df = df[~df['category'].isin(unwanted_categories)]
df = df[~df['main_category'].isin(unwanted_categories)]

In [17]:
#boolean masks for each category group
is_drug_paraphernalia = df['main_category'].str.contains('drug paraphernalia', case=False)
is_forgeries = df['main_category'].str.contains('^forgeries', case=False)
is_info_data = df['main_category'].str.contains('^(info|data)', case=False)
is_other = df['main_category'].str.contains('^other', case=False)

# update the values in the category column
df.loc[is_drug_paraphernalia, 'main_category'] = 'drugs'
df.loc[is_forgeries, 'main_category'] = 'counterfeits'
df.loc[is_info_data, 'main_category'] = 'data'
df.loc[is_other, 'main_category'] = 'services'

C:\Users\ploitploit\AppData\Local\Temp\ipykernel_13356\4221254073.py:4: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  is_info_data = df['main_category'].str.contains('^(info|data)', case=False)

In [18]:
df['category'].unique()

array(['services/hacking', 'services/other', 'drugs/rcs',
       'forgeries/physical documents', 'tobacco/smoked', 'services/money',
       'counterfeits/money', 'data/software', 'data/accounts',
       'counterfeits/clothing', 'information/ebooks', 'electronics',
       'drug paraphernalia/pipes', 'drugs/weight loss', 'data/pirated',
       'drugs/steroids', 'drugs/prescription', 'information/guides',
       'forgeries/scans/photos', 'other', 'jewelry', 'drugs/other',
       'counterfeits/accessories', 'counterfeits/watches',
       'drugs/cannabis/weed', 'drugs/benzos',
       'the body bags  shotty  and mac make-up to: kind hearts and gentle people',
       'drugs/cannabis/shake/trim', 'drugs/cannabis/synthetics',
       'drugs/cannabis/concentrates', 'drugs/cannabis/seeds',
       'drugs/cannabis/hash', 'drugs/dissociatives/mxe',
       'drugs/dissociatives/ketamine', 'drugs/cannabis/edibles',
       'drugs/ecstasy/pills', 'drugs/ecstasy/other',
       'drugs/stimulants/meth', 'drugs/psychedelics/lsd',
       'drugs/stimulants/speed', 'drugs/dissociatives/ghb',
       'drugs/stimulants/cocaine', 'drugs/psychedelics/nb',
       'drugs/psychedelics/mushrooms', 'drugs/ecstasy/mdma',
       'drugs/psychedelics/dmt', 'weapons/lethal firearms',
       'drugs/stimulants/prescription', 'drugs/ecstasy/mda',
       'drugs/psychedelics/others', 'drugs/psychedelics/mescaline',
       'drugs/psychedelics/2c', 'drugs/opioids', 'info/ebooks/anonymity',
       'info/ebooks/relationships/sex', 'drug paraphernalia/stashes',
       'info/ebooks/economy', 'services/advertising',
       'info/ebooks/politics', 'drugs/opioids/morphine',
       'drugs/opioids/other', 'drugs/opioids/heroin',
       'info/ebooks/science', 'weapons/melee', 'info/ebooks/other',
       'info/ebooks/drugs', 'drugs/opioids/fentanyl',
       'drugs/opioids/oxycodone', 'drugs/psychedelics/5-meo',
       'drugs/opioids/buprenorphine', 'drug paraphernalia/containers',
       'drugs/psychedelics/other', 'info/ebooks/doomsday',
       'info/ebooks/it', 'info/ebooks/psychology',
       'info/ebooks/making money', 'weapons/non-lethal firearms',
       'tobacco/paraphernalia', 'forgeries/other', 'weapons/ammunition',
       'forgeries', 'chemicals', 'drugs/psychedelics/spores',
       'drugs/opioids/hydrocodone', 'info/ebooks/philosophy',
       'drugs/dissociatives/other', 'drugs/opioids/codeine',
       'drug paraphernalia/grinders', 'info/ebooks/aliens/ufos',
       'drug paraphernalia/paper', 'services/travel',
       'drugs/opioids/dihydrocodeine', 'drugs/stimulants/mephedrone',
       'drugs/dissociatives/gbl', 'counterfeits/electronics',
       'drug paraphernalia/injecting equipment/syringes',
       'drugs/opioids/opium',
       'drug paraphernalia/injecting equipment/other',
       'drugs/psychedelics/salvia', 'drugs/barbiturates',
       'weapons/fireworks', 'drug paraphernalia/scales',
       'drug paraphernalia/injecting equipment/filters',
       'drug paraphernalia/injecting equipment/needles',
       'drugs/dissociatives/pcp'], dtype=object)

In [19]:
df['main_category'].unique()

array(['services', 'drugs', 'counterfeits', 'tobacco', 'data',
       'electronics', 'jewelry',
       'the body bags  shotty  and mac make-up to: kind hearts and gentle people',
       'weapons', 'chemicals'], dtype=object)

In [20]:
#8.1 'origin'
#too many messy values
unique_origins = df['origin'].value_counts().reset_index()
unique_origins.columns = ['origin', 'count']
unique_origins.head(50)

                                         origin  count
0                                           usa  33745
1                                            uk  10360
2                                           nan   9878
3                                     australia   8767
4                                       germany   7877
5                                   netherlands   7707
6                                        canada   5126
7                                            eu   4356
8                                         china   4185
9                                       torland   2706
10                                        world   2213
11                                     internet   1254
12                                      belgium   1158
13                                        india   1111
14                                       sweden   1035
15                                       france    774
16                                        italy    513
17                                        spain    434
18                                     hongkong    391
19                                  switzerland    322
20                                      austria    277
21                                      denmark    268
22                                czechrepublic    268
23                                   undeclared    257
24                                       norway    224
25                                      ireland    213
26                                  southafrica    188
27                                   newzealand    144
28                                      ukraine    127
29               netherlands_aus_nz_scandinavia    123
30                                       mexico    116
31                                  philippines    114
32                               uk_usa_europe_    112
33                                       poland    103
34                                       europe     94
35                           uk_usa_philippines     91
36                              theunitedsnakes     88
37                       germany_norway_finland     87
38                                    argentina     85
39                             canada_usa_uk_eu     84
40                         usa_uk_and_worldwide     71
41                                   usa_canada     68
42                                        agora     66
43                   canada_europe_asia_oceania     61
44  netherlands_usa_scandinavia_and_new_zealand     60
45                                     thailand     59
46                                     pakistan     55
47                                      finland     55
48                                canada_usa_eu     53
49                               uk_philippines     50

In [21]:
#8.1 'origin'
#let's get the counts of each unique value
counts = df['origin'].value_counts()
# Let's identify the values that occur less than 125 times
less_than_125 = counts[counts < 125].index
#let's replace these values with NaN
df['origin'] = df['origin'].map(lambda x: np.nan if x in less_than_125 else x)

unique_origins = df['origin'].value_counts().reset_index()
unique_origins.columns = ['origin', 'count']
unique_origins.head(50)

           origin  count
0             usa  33745
1              uk  10360
2             nan   9878
3       australia   8767
4         germany   7877
5     netherlands   7707
6          canada   5126
7              eu   4356
8           china   4185
9         torland   2706
10          world   2213
11       internet   1254
12        belgium   1158
13          india   1111
14         sweden   1035
15         france    774
16          italy    513
17          spain    434
18       hongkong    391
19    switzerland    322
20        austria    277
21  czechrepublic    268
22        denmark    268
23     undeclared    257
24         norway    224
25        ireland    213
26    southafrica    188
27     newzealand    144
28        ukraine    127

In [22]:
#8.1 'origin'
##let's replace ['eu', 'torland', 'world', 'internet', 'undeclared','nan'] values by NaN
df['origin'] = df['origin'].replace(['eu', 'torland', 'internet', 'undeclared'], np.nan)

unique_origins = df['origin'].value_counts().reset_index()
unique_origins.columns = ['origin', 'count']
unique_origins.head(50)

           origin  count
0             usa  33745
1              uk  10360
2             nan   9878
3       australia   8767
4         germany   7877
5     netherlands   7707
6          canada   5126
7           china   4185
8           world   2213
9         belgium   1158
10          india   1111
11         sweden   1035
12         france    774
13          italy    513
14          spain    434
15       hongkong    391
16    switzerland    322
17        austria    277
18        denmark    268
19  czechrepublic    268
20         norway    224
21        ireland    213
22    southafrica    188
23     newzealand    144
24        ukraine    127

In [23]:
df.head()

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category,main_category,sub_category,2,3
0,cheappaytv,services/hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.050270,NaN,nan,4.96/5,4.96,positive,services,hacking,None,None
1,cheappaytv,services/hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152420,NaN,nan,4.96/5,4.96,positive,services,hacking,None,None
2,kryptykog,services/hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000,NaN,nan,4.93/5,4.93,positive,services,hacking,None,None
3,cyberzen,services/hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019017,nan,nan,4.89/5,4.89,positive,services,hacking,None,None
4,businessdude,services/hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018,NaN,nan,4.88/5,4.88,positive,services,hacking,None,None

In [24]:
#8.2 'destination'
#too many messy values
unique_destination = df['destination'].value_counts().reset_index()
unique_destination.columns = ['destination', 'count']
unique_destination.head(50)
unique_destination.head(50)

                                destination  count
0                                       nan  49157
1                                 worldwide  17851
2                                       usa  15189
3                                 australia   4051
4                                     world   2738
5                                        eu   2206
6                                        uk   2048
7                                    europe   1180
8                                   germany    811
9                                  usa_only    682
10                               world_wide    631
11                     worldwide_except_usa    546
12                               everywhere    543
13                           european_union    527
14               worldwide_except_australia    403
15                                   canada    366
16                            international    308
17                                   sweden    300
18                                  eu_only    295
19                           australia_only    275
20                            united_states    210
21                               usa_canada    176
22                                  uk_only    173
23                        europe_union_only    149
24                                   france    143
25                                       pm    135
26                     worldwide_on_request    134
27                 worldwide_except_finland    133
28  worldwide_except_usa_aus_nz_scandinavia    123
29              world_wide_except_australia    117
30                           uk_usa_europe_    112
31                                 wordwide    110
32                                       ww    108
33                           united_kingdom    104
34                                      you    104
35                                    uk_eu    103
36                       world_no_australia     97
37                                 worlwide     97
38       worldwide_except_usnzauscandinavia     96
39                                uk_and_eu     89
40          eu_except_sweden_norway_finland     87
41                              switzerland     86
42                                       us     86
43                         canada_usa_uk_eu     86
44                  worldwide_international     86
45                                 anywhere     86
46                     usa_uk_and_worldwide     83
47                                   norway     82
48                 united_states_of_america     82
49                                   global     81

In [25]:
#8.2 'destination'
#let's get the counts of each unique value
counts = df['destination'].value_counts()
# Let's identify the values that occur less than 140 times
less_than_125 = counts[counts < 140].index
#let's replace these values with NaN
df['destination'] = df['destination'].map(lambda x: np.nan if x in less_than_125 else x)

unique_destination = df['destination'].value_counts().reset_index()
unique_destination.columns = ['destination', 'count']
unique_destination.head(50)

                   destination  count
0                          nan  49157
1                    worldwide  17851
2                          usa  15189
3                    australia   4051
4                        world   2738
5                           eu   2206
6                           uk   2048
7                       europe   1180
8                      germany    811
9                     usa_only    682
10                  world_wide    631
11        worldwide_except_usa    546
12                  everywhere    543
13              european_union    527
14  worldwide_except_australia    403
15                      canada    366
16               international    308
17                      sweden    300
18                     eu_only    295
19              australia_only    275
20               united_states    210
21                  usa_canada    176
22                     uk_only    173
23           europe_union_only    149
24                      france    143

In [26]:
#8.2
##let's replace several values
replacements = {
    'usa_only': 'usa',
    'world_wide': 'world',
    'worldwide': 'world',
    'worldwide_except_usa': 'world',
    'everywhere': 'world',
    'european_union': np.nan,
    'worldwide_except_australia': 'world',
    'canada': 'usa',
    'international': 'world',
    'eu_only': np.nan,
    'eu': np.nan,
    'australia_only': 'australia',
    'united_states': 'usa',
    'usa_canada': 'usa',
    'uk_only': np.nan,
    'europe_union_only': np.nan
}

df['destination'] = df['destination'].replace(replacements)


unique_destination = df['destination'].value_counts().reset_index()
unique_destination.columns = ['destination', 'count']
unique_destination.head(50)

  destination  count
0         nan  49157
1       world  23020
2         usa  16623
3   australia   4326
4          uk   2048
5      europe   1180
6     germany    811
7      sweden    300
8      france    143

In [27]:
df.head()

,vendor,category,item,item_description,price,origin,destination,rating,numeric_rating,rating_category,main_category,sub_category,2,3
0,cheappaytv,services/hacking,12 Month HuluPlus gift Code,12-Month HuluPlus Codes for $25. They are wort...,0.050270,NaN,nan,4.96/5,4.96,positive,services,hacking,None,None
1,cheappaytv,services/hacking,Pay TV Sky UK Sky Germany HD TV and much mor...,Hi we offer a World Wide CCcam Service for En...,0.152420,NaN,nan,4.96/5,4.96,positive,services,hacking,None,None
2,kryptykog,services/hacking,OFFICIAL Account Creator Extreme 4.2,Tagged Submission Fix Bebo Submission Fix Adju...,0.007000,NaN,nan,4.93/5,4.93,positive,services,hacking,None,None
3,cyberzen,services/hacking,VPN > TOR > SOCK TUTORIAL,How to setup a VPN > TOR > SOCK super safe enc...,0.019017,nan,nan,4.89/5,4.89,positive,services,hacking,None,None
4,businessdude,services/hacking,Facebook hacking guide,. This guide will teach you how to hack Faceb...,0.062018,NaN,nan,4.88/5,4.88,positive,services,hacking,None,None

In [28]:
#10

df.to_csv('../data/cleaned/cleaned_main_dataset_2014-2015.csv', index=False)